<%- include('../partials/kh_trangdau') %>
  <div class="container mt-4">
    <div class="row">
      <div class="col-8">
        <div class="mt-4">
          <h2 class="mb-4">Sản phẩm yêu thích của bạn</h2>
        </div>
      </div>
      <div class="col-4 chuyendoi">
        <div class="mt-4">
          <h2 class="mb-4">Đề xuất</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
                <% favoriteProducts.forEach(product=> { %>
                <div class="card--h-yeuthich mb-4">
                  <img src="/uploads/<%= product.ANH_SP %>" alt="" class="card-title--h">
                  <div class="display-flex">
                    <div class="love" style="margin-right: 20px;">
                      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="svg">
                        <path
                          d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
                        </path>
                      </svg>
                    </div>
                    <div class="category">
                      <button class="button" disabled>
                        <%= product.TEN_SP %>
                      </button>
                    </div>
                  </div>
                  <form action="/khachhang/yeuthich/remove" method="post" style="margin-top: 10px;">
                    <input type="hidden" name="productId" value="<%= product.ID_SP %>">
                    <button type="submit" class="button--xoa--yeuthich">
                      <span class="button__text">Bỏ thích</span>
                      <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="512" viewBox="0 0 512 512"
                          height="512" class="svg">
                          <title></title>
                          <path style="fill:none;stroke:#323232;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
                            d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320"></path>
                          <line y2="112" y1="112" x2="432" x1="80"
                            style="stroke:#323232;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"></line>
                          <path style="fill:none;stroke:#323232;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
                            d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40"></path>
                          <line y2="400" y1="176" x2="256" x1="256"
                            style="fill:none;stroke:#323232;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                          <line y2="400" y1="176" x2="192" x1="184"
                            style="fill:none;stroke:#323232;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                          <line y2="400" y1="176" x2="320" x1="328"
                            style="fill:none;stroke:#323232;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                        </svg></span>
                    </button>
                  </form>
                  <a class="button-with-icon" href="/khachhang/kh_sanpham">
                    <svg
                      class="icon"
                      id="Play"
                      viewBox="0 0 48 48"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        class="color000000 svgShape"
                        fill="#ffffff"
                        d="M12 39c-.549 0-1.095-.15-1.578-.447A3.008 3.008 0 0 1 9 36V12c0-1.041.54-2.007 1.422-2.553a3.014 3.014 0 0 1 2.919-.132l24 12a3.003 3.003 0 0 1 0 5.37l-24 12c-.42.21-.885.315-1.341.315z"
                      ></path>
                    </svg>
                    <span class="text">Mua</span>
                  </a>
                </div>
                <% }) %>
      </div>
      <div class="col-4">
        <div class="main--yeuthich">
          <% if (notFavoriteProducts.length > 0) { %>
            <% notFavoriteProducts.forEach(product => { %>
              <div class="card--h-yeuthich mb-4">
                <img src="/uploads/<%= product.ANH_SP %>" alt="" class="card-title--h">
                <div class="display-flex">
                  <div class="love" style="margin-right: 20px;">
                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="svg">
                      <path
                        d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
                      </path>
                    </svg>
                  </div>
                  <div class="category">
                    <button class="button" disabled>
                      <%= product.TEN_SP %>
                    </button>
                  </div>
                </div>
                <form action="/khachhang/kh_yeuthich--dx" method="POST" style="margin-bottom: 10px;">
                  <input type="hidden" name="sp_id" value="<%= product.ID_SP %>">
                  <button type="submit" class="btn-xoa">Thêm vào Yêu thích</button>
                </form>
              </div>
            <% }) %>
          <% } else { %>
            <p>Tất cả sản phẩm đã được yêu thích.</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/kh_trangcuoi') %>